# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://nwzoruewmarehspjkegs.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here

# Site URL
NEXT_PUBLIC_SITE_URL=https://gyrus-sulcus.vercel.app
